@font-face {
	font-family: 'Raleway';
	src: url('../font/subset-Raleway-Light.eot');
	src: url('../font/subset-Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/subset-Raleway-Light.woff') format('woff'),
		url('../font/subset-Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

h1 {
	font-family: 'Raleway';
	font-weight: 300;
	font-style: normal;
}

h2 {
	font-family: 'Raleway';
    font-weight: 400;
	font-style: normal;
}

.row, .image-tile {
    text-align: center !important;
}

.tile-bg {
    margin: 1em;
    border-radius: 5vmin;
}

.image-tile {
    border: 1em;
    padding: 0px;
}

.tiles-container {
    padding-left: 5em;
    padding-right: 5em;
}

.realimage {
    width: 100%;
    padding: 1em;
}

.image-title {
    position: absolute;
    top: 0%;
    padding-top: 2em;
    left: 0;
    width: 100%;
}

.image-description {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

.col, .row {
  padding:0px;
  margin: 0px;
}

.textcenter {
    text-align: center;
}

.image-tile {
    -webkit-transition: all .2s ease; /* Safari and Chrome */
    -moz-transition: all .2s ease; /* Firefox */
    -o-transition: all .2s ease; /* IE 9 */
    -ms-transition: all .2s ease; /* Opera */
    transition: all .2s ease;

    -webkit-filter: brightness(1) grayscale(0%) contrast(100%);
    -moz-filter: brightness(1) grayscale(0%) contrast(100%);
    filter: brightness(1) grayscale(0%);
}

.image-tile:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.02); /* Firefox */
    -ms-transform:scale(1.02); /* IE 9 */
    -o-transform:translatZ(0) scale(1.02); /* Opera */
    transform:translatZ(0) scale(1.02);

    -webkit-filter: brightness(1.10) grayscale(25%) contrast(90%);
    -moz-filter: brightness(1.10) grayscale(25%) contrast(90%);
    filter: brightness(1.10) grayscale(25%);
}

.main-title {
    font-size: 3em;
}

.main-description {
    font-size: 1.5em;
}

.topmatter {
	width: 85%;
	margin:0 auto;
	max-width:1140px;
}

.main-title, .main-description {
    margin: 0;
}
